@import url("layout.css");

/* Tái sử dụng style của các trang form khác để đảm bảo tính nhất quán */
.form-container {
    background-color: #d9d9d9;
    padding: 40px;
    border-radius: 8px;
    max-width: 900px;
    margin: 0 auto;
}
.form-title {
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 48px;
    margin-bottom: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input-group label {
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
}
.field {
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
    height: 56px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #dfdfdf;
    box-shadow: var(--button-shadow);
    font-size: var(--small-text-font-size);
}

select.field {
  -webkit-appearance: none; -moz-appearance: none; appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23757575%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat; background-position: right 1rem center; background-size: .65em auto;
}

.submit-button {
    all: unset; box-sizing: border-box; display: flex; align-items: center;
    justify-content: center; padding: 16px 40px; background-color: #000000;
    border-radius: 8px; box-shadow: var(--button-shadow); margin-top: 16px;
    cursor: pointer; color: #ffffff; font-family: var(--body-text-font-family);
    font-size: var(--body-text-font-size);
    width: fit-content; /* Nút bấm chỉ rộng bằng nội dung */
}